.card {
    font-family: UD Digi Kyokasho N-R;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  
  .cont-body {
    opacity: 0.9;
    width: 80%;
    margin: auto;
  }
  
  .wordlevel {
    display: inline;
    font-weight: bold;
    /* border: 3px solid #eee; */
    padding: 4px;
  }
  
  .level {
    display: inline;
    background-color: #eee;
    color: #555555;
    font-weight: bold;
    border: 3px solid #eee;
    padding: 4px;
    float: left;
  }
  
  .lang {
    display: inline;
    background-color: #eee;
    color: #555555;
    font-weight: bold;
    border: 3px solid #eee;
    padding: 4px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    display: table;
    width: 5%;
  }
  
  .bg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("4.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    padding: 10px;
    overflow: auto;
  }
  
  u {
    text-decoration-style: wavy;
    text-underline-position: under;
    color: white;
    padding: 1px;
  }
  
  .notes hr {
    border: 1px solid rgba(85, 85, 85, 0.75);
  }
  
  .body-upper {
    font-family: Noto Sans Black;
    font-size: 30px;
    color: #eee;
    background-color: #555555;
    padding: 30px 10px 30px;
  }
  
  .body-lower {
    text-align: left;
    color: #555555;
    background-color: #9fdbdb;
    padding: 25px 10px 25px;
  }
  
  .soundFront {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    content: url("play.png");
    width: 6%;
  }
  
  .notes {
    font-family: Noto Sans Regular;
    font-size: 20px;
    border: 2px dashed rgba(85, 85, 85, 0.75);
    padding: 10px;
    margin: 3px 20px 3px 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .symbol-container {
    font-size: 10vh;
  }
  
  .card.night_mode {
    color: white;
    background-color: #303030;
  }
  
  .extra_toggle {
    display: block;
    font-family: Noto Sans Regular;
    font-size: 15px;
    color: rgba(85, 85, 85, 0.55);
    background-color: rgba(85, 85, 85, 0.15);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin: auto;
    margin-top: 20px;
    transition: background-color 0.15s ease-out;
  }
  
  .extra_toggle:hover {
    background-color: rgba(85, 85, 85, 0.35);
  }
  
  .extra {
    display: none;
    font-family: Noto Sans Regular;
    font-size: 15px;
    border: 2px dashed rgba(85, 85, 85, 0.55);
    color: rgba(85, 85, 85, 0.55);
    padding: 20px;
    margin: 30px 20px 3px 20px;
    text-align: center;
    font-weight: 500;
  }
  .mnemonic {
    text-align: center;
    border: 2px dashed rgba(85, 85, 85, 0.5);
    color: rgba(85, 85, 85, 0.5);
    padding: 10px;
    margin: 15px 20px 3px 20px;
  }
  .sentencehr hr {
    border: 0.5px solid rgba(85, 85, 85, 0.4);
  }
  .mobile .level {
    display: none;
    font-size: 10px;
  }
  .mobile .lang {
    border: none;
    float: left;
    color: #555555;
    display: block;
    width: 15%;
  }
  .mobile .wordlevel {
    border: none;
  }
  
  .mobile .cont-body {
    width: 100%;
  }
  